<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation Email</title>
</head>
<body>
  <h1>Hello <%= name %> <%= lastName %></h1>
  <h2>Thank you for registering on our website! Please confirm your email address by clicking on the following link:</h2>
  <a href="<%= link %>">Confirm Registration</a>
</body>
</html>